{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="tab" style="width: 600px">
    <button class="tab_button" onclick="activeGraph(event, 'cumulative_graph', 'cdf_descrip')">Cumulative Graph</button>
    <button class="tab_button" onclick="activeGraph(event, 'total_sample_graph', 'total_sample_descrip')">Total Sample
        Histogram
    </button>
    <button class="tab_button" onclick="activeGraph(event, 'one_anvil_graph', 'one_anvil_descrip')">One Anvil
        Histogram
    </button>
    <button class="tab_button" onclick="activeGraph(event, 'plot_arr', 'grouped_description')">Show All Plots</button>

</div>
<div class="important" style="position: absolute; left:650px; top:20px; font-size:25px; font-weight: Bold;">Click one of the header buttons
    to view result plots.
</div>
<div>
    //@ts-ignore
    <button class="submit_button" onclick="window.location.href = '{{url_for(gear')}}';" style="position: absolute; top: 10px; left: 90vw">
        Return to Gear Selection
    </button>
</div>
<div class="container">
    <div>
        <img src="{{ group_image }}" id="plot_arr" class="plot" style="display:none;"/>
        <p class="plot" style="display:none;" id="grouped_description">This shows all the current plots with a table summarizing the results.</p>
    </div>
    <div>
        <img src="{{ cdf_img }}" id="cumulative_graph" class="plot" style="display:none;"/>
        <p class="plot" style="display:none;" id="cdf_descrip">This graph displays the cumulative probability of killing Tekton over time.</p>
    </div>
    <div>
        <img src="{{ total_anvil_img }}" id="total_sample_graph" class="plot" style="display:none;"/>
        <p class="plot" style="display:none;" id="total_sample_descrip">This graph displays a histogram with a kernel density estimate for the total trials.</p>
    </div>
    <div>
        <img src="{{ one_anvil_img }}" id="one_anvil_graph" class="plot" style="display:none;"/>
        <p class="plot" style="display:none;" id="one_anvil_descrip">This graph displays a histogram with a kernel density estimate for just one anvil results.</p>
    </div>
    <form onSubmit="return handleSubmit(event);">
        <input type="number" id="hpInput" name="hpInput" style="margin-left: 5px;" value="{{ hp_default }}" required/>
        <input type="submit" value="Submit" class="submit_button" style="margin-top:5px; margin-left: 1px;"/>
        <input type="hidden" id="prev_data" value="{{ json_data }}">
        <div style="margin-top:5px; margin-left: 5px; color: white">Input an hp value to compare to the hp values that tekton returns to the anvil with.
            <br>The default is the average hp value from all the trials.
        </div>
        <div id="Results" style="color: white"></div>
    </form>
</div>
<div class="data-table">
    <table class="result-table" style="width:100%;">
        <caption class="important">Output Snapshot</caption>
        {% for table in data_table %}
        {{ table|safe }}
        {% endfor %}
    </table>
</div>


<script>
    function handleSubmit(event) {
    event.preventDefault()
      let table = document.getElementById("Results")
      let number = document.getElementById("hpInput").value;
      let prev_q = document.getElementById("prev_data").value;
      const body = {hpInput: number, query_params: prev_q}

      var options = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(body),

      };

      fetch("/database", options)
        .then((response) => response.text())
        .then((text) => {
         console.log("data:", text);
        let new_tbl = text
        table.innerHTML = new_tbl;

        })
        .catch((error) => {
          console.error("Error:", error);
        });
      return false;
    }


</script>
<script>
    function hrefFunction(){
                windows.location.href = "http://127.0.0.1:5000/gear";
            }
</script>
<script>
    function activeGraph(evt, graph_name, text_description){
        var i, graph_img, tab_buttons;
        graph_img = document.getElementsByClassName("plot");
        for (i = 0; i < graph_img.length; i++) {
            graph_img[i].style.display = 'none';
        }
        tab_buttons = document.getElementsByClassName("tab_button");
        for (i = 0; i < tab_buttons.length; i++) {
            tab_buttons[i].className = tab_buttons[i].className.replace(" active", "");
        }
        console.log(graph_name)
        console.log(text_description)
        document.getElementById(graph_name).style.display='';
        document.getElementById(text_description).style.display='';
        evt.currentTarget.className += " active";
    }
</script>
<style type="text/css">
    .tab {
<!--      width: 30%;-->
      overflow: hidden;
<!--      border: 1px solid #ccc;-->
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: crimson;
      color: black;
      float: left;
      outline-style: 1px solid;
      cursor: pointer;
      border-radius: 10px;
      padding: 14px 16px;
      text-shadow: 1px 1px 2px gray;
      transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: red;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: red;
    }
    .form {
    margin: inline

      /* An explicit background is required here, as it's actually transparent by default, and we
           don't want to see the shadow element behind */
      background: var(--background-color);
    }
        .important { color:  #ff0000; }
         caption {
      display: inline;
      text-align: center;
      font-size: 30px;
    }
    .container {
    width: 95vw;
    height: 77vh;

    display: flex;
    flex-direction: row;
    }
    img{
    width:100%;
    clip: rect(0px 0px, 5px, 0px);
    }
    p{
    text-align:center;
    margin-top: 0px;
    color: white;
    font-weight: bold;
    }
    .container :nth-child(n) {
    padding:1px
    }
    .data-table {
    margin-top:40px;
    color: white
    }
    .submit_button {
      background-color: crimson;
      outline-style: 1px solid;
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
      text-shadow: 1px 1px 2px gray;
      transition: 0.3s;
    }

    .submit_button:hover {
      background-color: red;
    }
</style>

{% endblock %}